PAYMENT_DELAY_MS=500
PAYMENT_FAILURE_PERCENTAGE=10
INVENTORY_DELAY_MS=0
INVENTORY_ERROR_PERCENTAGE=0
RESERVATION_DELAY_MS=0
RESERVATION_ERROR_PERCENTAGE=0
AFTER_PAYMENT_SUCCESS_PERCENTAGE=0
HTTP_CONNECT_TIMEOUT_MS=1000
HTTP_READ_TIMEOUT_MS=5000
ORDER_TOMCAT_THREADS=50
PRODUCT_TOMCAT_THREADS=30
RESERVATION_TOMCAT_THREADS=30
PAYMENT_TOMCAT_THREADS=20
ORDER_HIKARI_POOL=10
PRODUCT_HIKARI_POOL=10
RESERVATION_HIKARI_POOL=10
PAYMENT_HIKARI_POOL=5
